extends layout

block content

    div.col-md-6
        if (note.medias.length > 0)
            - var m = note.medias[0]
            - var url = m.link.replace('upload/','upload/w_500,c_fit/')
            img.photo(src=url, width="500")

    div.col-md-6

        h1.title= note.content
        .username by #{note.account.username}
        .label.label-default.context= note.context.title


        h2 Feedbacks
        each f in note.feedbacks
            .feedback
                .kind= f.kind
                .content= f.content
                .username by #{f.account.username}

        #newcomment
        h4 Your comment
        .row
            .col-md-8            
                textarea.form-control(placeholder="What do you want to say about this?")
            .col-md-4
                button.btn.btn-primary(onClick='legislators.searchByZipcode($("#zipcode").val())') Submit
